<html>

<h1>CREATED ONE!!!!!</h1>
<div style="text-align: center; margin-top: 20px">
  <div class="span4 offset2">
    <h2>Cool.</h2>
  </div>
  <div class="span4">
    <div>
      <%= "ID: #{JenkinsFactory.factories[params['id']].id}" %> <br>
      <%= "Jobs: #{JenkinsFactory.factories[params['id']].jobs}" %>
    </div>
  </div>
</div>